:root {
  font-family: 'Space Grotesk', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #123531;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  min-height: 100%;
}

body {
  min-height: 100vh;
}
